@font-face {
    font-family: didot;
    src: url(./assets/GFSDidot-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(./assets/Montserrat-VariableFont_wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    /* border: .5px solid black; */
    box-sizing: border-box;
    /* overflow: hidden; */
    box-sizing: border-box;
}
.tel_section {
    display: none;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
    max-height: 100px;
}

.logo {

    height: 50px;
    margin: 10px;
    object-fit: cover;
    z-index: 1;
}

.telnav {
    display: none;
}


.pc_topnav {
    background: rgb(255, 255, 255);
    height: 100px;
}

.pc_topnav ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 0;
}

.pc_topnav ul li {
    position: relative;
    text-decoration: none;
    list-style: none;
    line-height: 100px;
    position: relative;
}

.logohamburger{
    display: none;
}

.pc_topnav ul li a {
    text-decoration: none;
    position: relative;
    font-family: montserrat;
    padding: 0 20px;
    transition: .1s;
    color: rgb(67, 67, 67);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
}

ul li a:hover {
    scale: 1.1;
    color: black;
}

/***********************MENU DEROULANT TELEPHONNE************/


@media screen and (max-width: 750px) {

    .pc_section{
        display: none;
    }

    .tel_section{
        display: block;
        width: 100px;
        height: 100px;
    }
    .tel_topnav{
        width: 100%;
        height: 100%;
    }
    .logohamburger{
        display: flex;
        height: 100%;
        text-align: center;
        justify-content: center;
    }
    .hamburgerbtn{
        text-decoration: none;
        font-size: 30px;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .hamburgerbtn p 
    {
        margin-top: 30px;
    }
    .telnav {
        height: 100vh;
        width: 100%;
        padding-bottom: 100px;
        background-color: white;
        /* border: 2px red solid; */
        display: flex;
        position: absolute;
        z-index: 2000;
        flex-direction: column;
        right: 0px;
        transform: translateX(-200%);
        transition: .3s;
    }
    .telnav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .telnav ul li {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .telnav ul li a {
        text-decoration: none;
        color: rgb(78, 78, 78);
        font-family: montserrat;
        transition: .2s;
    }
    .cross {
        color: rgb(78, 78, 78);
        font-family: montserrat;
        position: absolute;
        right: 35px;
        top: 50px;
        transform: translate(0, -50%);
        font-size: 20px;
        font-weight: 900;
        opacity: 0;
        transition: .3s;
        display: none;
    }
    .cross a {
        font-family: montserrat;
        font-weight: 400;
        text-decoration: none;
    }
    .cross a:visited {
        color: rgb(78, 78, 78);
    }
}


/* ************MAIN************** */

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.main_panel {
    height: 100%;
    display: grid;
    position: relative;
    /* background-color: red; */
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr;
}

.photo1 {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
}

.texte1 {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 100%;
}

.texte2 {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 100%;
}

.photo2 {
    grid-column: 2/3;
    grid-row: 2/3;
    /* background-color: green; */
    height: 100%;
}

.photo3 {
    grid-column: 1/2;
    grid-row: 3/4;    
    /* background-color: rgb(221, 200, 12); */
    height: 100%;
    padding-top: 15px;
}

.texte3 {
    grid-column:2/3;
    grid-row: 3/4;
    /* background-color: orange; */
    height: 100%;
}



.photo1,
.photo2,
.photo3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
    max-width: 350px;
    max-height: 400px;
    border-radius: 2px;
    margin: auto;
}

.photo1 img,
.photo2 img,
.photo3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.texte1 p,
.texte2 p,
.texte3 p {
    text-align: justify;
    padding: 30px;
    line-height: 25px;
    height: 100%;
}

/* Responsive */

@media screen and (max-width: 850px) {

    .main_panel{
        display: grid;
        position: relative;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr ;
    }
    .photo1{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        /* border: 2px red solid; */
       
        
    }

    .texte1{
        grid-column: 1/2;
        grid-row: 2/3;
        /* border: rgb(74, 121, 13) 2px solid; */

    }

    .photo2{
        grid-column: 1/2;
        grid-row: 3/4;  
        /* border: 2px green solid; */
    }
    .photo3{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .photo4{
        display: none;
        grid-column:1/2;
        grid-row: 6/7;
    }

    
    .texte2{
        grid-column: 1/2;
        grid-row: 4/5;
        /* border: rgb(229, 255, 0) 5px solid; */
    }

    
}



/* Footer */
.botnav {
    /* background: rgb(255, 255, 255); */
    align-items: center;
    height: 60px;
    width: 100%;
    bottom: 0px;
    z-index: 500;
}

.botnav ul {
    position: absolute;
    right: 0px;
    align-items: center;
    z-index: 500;
    line-height: 60px;

}

.botnav ul li {
    list-style: none;
    display: inline;
    margin: 0 10px;
    z-index: 500;


}

.botnav ul li a {
    position: relative;
    right: 0px;
    bottom: 0px;
    text-decoration: none;
    transition: .1s;
    color: rgb(45, 45, 45);
    font-family: montserrat;
    font-weight: 400;
    font-size: 11px;

}

.botnav ul li a:hover {
    scale: 1.2;
    font-size: 12px;
    color: black;
}