@font-face {
    font-family: didot;
    src: url(./assets/GFSDidot-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(./assets/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    box-sizing: border-box;
}

.tel_section {
    display: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
    max-height: 100px;
}

.logo {
    height: 60px;
    margin: 10px;
    object-fit: cover;
    z-index: 1;
}

.telnav {
    display: none;
}


.pc_topnav {
    background: rgb(255, 255, 255);
    height: 120px;
}

.pc_topnav ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 0;
}

.pc_topnav ul li {
    position: relative;
    text-decoration: none;
    list-style: none;
    line-height: 120px;
    position: relative;
}

.logohamburger {
    display: none;
}

.pc_topnav ul li a {
    text-decoration: none;
    position: relative;
    font-family: montserrat;
    padding: 0 30px;
    transition: .1s;
    color: rgb(67, 67, 67);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}

ul li a:hover {
    scale: 1.1;
    color: black;
}

/***********************MENU DEROULANT TELEPHONNE************/


@media screen and (max-width: 750px) {

    .pc_section {
        display: none;
    }

    .tel_section {
        display: block;
        width: 100px;
        height: 100px;
    }

    .tel_topnav {
        width: 100%;
        height: 100%;
    }

    .logohamburger {
        display: flex;
        height: 100%;
        text-align: center;
        justify-content: center;
    }

    .hamburgerbtn {
        text-decoration: none;
        font-size: 30px;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .hamburgerbtn p {
        margin-top: 30px;
    }

    .telnav {
        height: 100vh;
        width: 100%;
        padding-bottom: 100px;
        background-color: white;
        /* border: 2px red solid; */
        display: flex;
        position: absolute;
        z-index: 2000;
        flex-direction: column;
        right: 0px;
        transform: translateX(-200%);
        transition: .3s;
    }

    .telnav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .telnav ul li {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .telnav ul li a {
        text-decoration: none;
        color: rgb(78, 78, 78);
        font-family: montserrat;
        transition: .2s;
    }

    .cross {
        color: rgb(78, 78, 78);
        font-family: montserrat;
        position: absolute;
        right: 35px;
        top: 50px;
        transform: translate(0, -50%);
        font-size: 20px;
        font-weight: 900;
        opacity: 0;
        transition: .3s;
        display: none;
    }

    .cross a {
        font-family: montserrat;
        font-weight: 400;
        text-decoration: none;
    }

    .cross a:visited {
        color: rgb(78, 78, 78);
    }
}

/* ************MAIN******************** */

main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    flex-grow: 10;
}

h2 {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: montserrat;
    font-weight: 300;
    color: rgb(40, 40, 40);
    letter-spacing: 8px;
    margin: 25px auto 60px;

}

h3 {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: montserrat;
    font-weight: 300;
    color: rgb(40, 40, 40);
    letter-spacing: 6px;
    margin: 25px auto 25px;

}

.containerform {
    display: grid;
    grid-template-rows: 40% 60%;
    /* background: grey; */
    width: 100%;
    height: 800px;
    position: block;
    padding-left: 10%;
    padding-right: 10%;

}

.containerform .image {
    position: relative;
    height: 100%;
    border-bottom: 15px white solid;
}

.containerform img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    height: 100%;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 2px;
    /* border: rgb(30, 116, 214) 2px solid; */
}


.Name {
    grid-area: g;
}

.FirstName {
    grid-area: b;
}

.Mail {
    grid-area: r;
}


.formulaire {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2.5fr 1fr;
    grid-template-areas:
        "g "
        "b "
        "x"
        "r"
        "y"
        "y";

    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    /* padding: 2px; */
}



.containerform .formulaire label {
    border-bottom: 5px white solid;
    border-top: 5px white solid;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}

.containerform .formulaire input {
    border: none;
    position: absolute;
    outline: none;
    height: 100%;
    width: 100%;
    font-family: montserrat;
    font-size: 13.5px;
    font-weight: 400;
    border: 1px rgba(71, 71, 71, 0.454) solid;
    border-radius: 3px;
    transition: .2s;
    padding-left: 5px;

}

.containerform .formulaire input:hover {
    border: 1.3px solid black;
}

.Text :hover {
    border: 1.3px solid black;
}


.Text {
    grid-area: y;
    resize: none;
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-size: 13.5px;
    outline: none;
    border: none;
    border: 1px solid rgba(65, 65, 65, 0.454);
    border-radius: 3px;
    transition: .2s;
    font-family: montserrat;
    padding-left: 5px;

}


.containerform .formulaire .tarea {
    height: 100%;
}

#Submit {
    background-color: white;
    font-family: montserrat;
    font-weight: 400;
    color: rgb(155, 155, 155);
    transition: .3s;
}

#Submit:hover {
    color: black;
    /* letter-spacing: 3px; */
    background-color: rgba(155, 155, 155, .05);
}


.Contact {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    /* background-color: aqua; */
}

.Contact .Atelier {
    text-align: center;
    font-family: montserrat;
    font-size: 13.5;
    font-weight: 400;
    letter-spacing: 10px;
    margin: 10px;
    margin-top: 25px;
    color: black;
}

.Contact .Tiret {
    font-size: 25;
}

.Contact .Rue {
    margin-top: 15px;
}



.Contact p {
    text-align: center;
    font-family: montserrat;
    font-size: 10;
    letter-spacing: normal;
    margin: 5px;
    color: rgb(117, 116, 116);
}

/* ************************************* */

/* ******************RESPONSIVE********* */

@media screen and (max-width: 1100px) {
    .containerform {
        padding-left: 3%;
        padding-right: 3%;
    }

}

@media screen and (max-width: 650px) {

    body {
        overflow: visible;
    }

    .containerform {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 0px;
        padding: 3%;
    }

    .topnav ul li a {
        visibility: hidden;
    }

    .containerform .image {
        position: relative;
        margin-bottom: 8px;
        padding: 3%;
    }

    .containerform .image img {

        margin-bottom: 3px;
        width: 100%;
        position: absolute;
        padding-left: 1.9%;
        padding-right: 1.9%;
    }

}

/* ************************************* */


/* *************FOOTER************ */


.botnav {
    /* background: rgb(255, 255, 255); */
    align-items: center;
    height: 60px;
    width: 100%;
    bottom: 0px;
    z-index: 500;
}

.botnav ul {
    position: absolute;
    right: 0px;
    align-items: center;
    z-index: 500;
    line-height: 60px;

}

.botnav ul li {
    list-style: none;
    display: inline;
    margin: 0 10px;
    z-index: 500;


}

.botnav ul li a {
    position: relative;
    right: 0px;
    bottom: 0px;
    text-decoration: none;
    transition: .1s;
    color: rgb(45, 45, 45);
    font-family: montserrat;
    font-weight: 400;
    font-size: 11px;

}

.botnav ul li a:hover {
    scale: 1.2;
    font-size: 12px;
    color: black;
}